header {
 text-align: center;
 background-color: red;
 }
 #image-container
{
 display: flex;
 justify-content: space-around;
 padding: 10px;
 background-color: black;

}
#image1 {
 height: 300px;
 width: 300px;
 background-color: red;
 border-style: solid;
}
#image2 {
 height: 300px;
 width: 300px;
 background-color: red;
 border-style: solid;
}
#image3 {
 border-style: solid;
 height: 300px;
 width: 300px;
 background-color: red;
}
footer {
 background-color: red;
 text-align: center;
}
